<?xml version="1.0" encoding="UTF-8" ?>
<suite name="extendreport测试练习">
    <test name="testng-extentreports">
        <classes>
            <class name="com.tester.extend.demo.TestMethodsDemo">
                <methods>
                    <include name="test1"></include>
                    <include name="test2"></include>
                    <include name="test3"></include>
                    <include name="logDemo"></include>
                </methods>
            </class>
        </classes>

    </test>
    <listeners>
       <!--<listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"></listener>  -->
        <listener class-name="com.tester.extend.demo.ExtentTestNGIReporterListener"></listener>
    </listeners>

</suite>